bounty-5/weekly-dev-summary.json
{
  "name": "Weekly Dev Summary with Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "weekday": 5
            },
            {
              "field": "hours",
              "hour": 17
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Trigger (Fri 5pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "repo",
              "name": "repo",
              "value": "={{$env.GITHUB_REPO || 'owner/repo'}}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{$env.LANGUAGE || 'EN'}}",
              "type": "string"
            },
            {
              "id": "since",
              "name": "since",
              "value": "={{$today.minus({days: 7}).toISO()}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $json.since }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "fetch-commits",
      "name": "Fetch Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, -200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_HEADER_AUTH",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Config').item.json.repo }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "since",
              "value": "={{ $('Set Config').item.json.since }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-issues",
      "name": "Fetch Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_HEADER_AUTH",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Set Config').item.json.repo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-prs",
      "name": "Fetch Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_HEADER_AUTH",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "input1Name": "commits",
        "input2Name": "issues",
        "input3Name": "prs"
      },
      "id": "merge-data",
      "name": "Merge All Activity",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 0],
      "numberOfInputs": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary_data",
              "name": "summaryData",
              "value": "={{ JSON.stringify({ repo: $('Set Config').item.json.repo, language: $('Set Config').item.json.language, since: $('Set Config').item.json.since, commits: $input.first().json.commits || [], issues: $input.first().json.issues || [], pulls: $input.first().json.pulls || [] }) }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-claude",
      "name": "Prepare for Claude",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [920, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{ role: 'user', content: `You are a developer relations assistant. Generate a weekly development summary in {{ $('Set Config').item.json.language === 'FR' ? 'French' : 'English' }}.\n\nRepository: {{ $('Set Config').item.json.repo }}\nPeriod: since {{ $('Set Config').item.json.since }}\n\nActivity data:\n{{ $json.summaryData }}\n\nGenerate a well-formatted summary with these sections:\n- 🌟 Highlights\n- 📝 Notable Changes\n- ✅ Issues Resolved\n- 🔀 PRs Merged\n- 👥 Contributors\n\nUse Discord-compatible markdown. Be concise but informative.` }] }) }}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Claude Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CLAUDE_HEADER_AUTH",
          "name": "Claude API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DISCORD_WEBHOOK_URL || 'https://discord.com/api/webhooks/YOUR_WEBHOOK'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: JSON.parse($json.body).content[0].text }) }}",
        "options": {}
      },
      "id": "discord-webhook",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 0]
    }
  ],
  "connections": {
    "Weekly Trigger (Fri 5pm)": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Fetch Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Closed Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Commits": {
      "main": [
        [
          {
            "node": "Merge All Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Closed Issues": {
      "main": [
        [
          {
            "node": "Merge All Activity",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Merged PRs": {
      "main": [
        [
          {
            "node": "Merge All Activity",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Activity": {
      "main": [
        [
          {
            "node": "Prepare for Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Claude": {
      "main": [
        [
          {
            "node": "Claude Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Summary": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "weekly-summary"
    },
    {
      "name": "claude"
    },
    {
      "name": "github"
    }
  ]
}
