workflows/weekly-dev-summary.json
{
  "name": "Weekly Dev Summary with Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Trigger (Friday 5PM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-commits",
      "name": "Get Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-auth",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "since",
              "value": "={{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-issues",
      "name": "Get Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-auth",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-prs",
      "name": "Get Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-auth",
          "name": "GitHub API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter and prepare data\nconst commits = $input.all();\nconst issues = $('Get Closed Issues').all();\nconst prs = $('Get Merged PRs').all();\n\n// Filter PRs to only merged ones\nconst mergedPRs = prs.filter(pr => pr.json.merged_at !== null);\n\n// Extract key information\nconst summary = {\n  commits: commits.map(c => ({\n    message: c.json.commit.message.split('\\n')[0],\n    author: c.json.commit.author.name,\n    date: c.json.commit.author.date\n  })),\n  issues: issues.map(i => ({\n    title: i.json.title,\n    number: i.json.number,\n    labels: i.json.labels.map(l => l.name)\n  })),\n  mergedPRs: mergedPRs.map(pr => ({\n    title: pr.json.title,\n    number: pr.json.number,\n    author: pr.json.user.login,\n    merged_at: pr.json.merged_at\n  }))\n};\n\nreturn [{\n  json: {\n    repo: $env.GITHUB_REPO,\n    week: $now.minus({days: 7}).toISODate() + ' to ' + $now.toISODate(),\n    summary: summary,\n    stats: {\n      totalCommits: commits.length,\n      closedIssues: issues.length,\n      mergedPRs: mergedPRs.length\n    }\n  }\n}];"
      },
      "id": "prepare-data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": "2000"
            },
            {
              "name": "messages",
              "value": "=[{role: 'user', content: $env.LANGUAGE === 'FR' ? 'Génère un résumé narratif en français de l\\'activité GitHub de cette semaine pour le repo ' + $json.repo + '.\\n\\nDonnées:\\n' + JSON.stringify($json, null, 2) + '\\n\\nFormat souhaité:\\n- Introduction avec les statistiques clés\\n- Points forts de la semaine\\n- Contributeurs principaux\\n- Prochaines étapes suggérées' : 'Generate a narrative summary in English of this week\\'s GitHub activity for repo ' + $json.repo + '.\\n\\nData:\\n' + JSON.stringify($json, null, 2) + '\\n\\nDesired format:\\n- Introduction with key stats\\n- Highlights of the week\\n- Top contributors\\n- Suggested next steps'}]"
            }
          ]
        }
      },
      "id": "claude-api",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-auth",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "='**📊 Weekly Dev Summary - ' + $now.toFormat('MMMM d, yyyy') + '**\\n\\n' + $json.content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "discord-webhook",
      "name": "Send to Discord/Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Weekly Trigger (Friday 5PM)": {
      "main": [
        [
          {
            "node": "Get Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closed Issues": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Merged PRs": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API": {
      "main": [
        [
          {
            "node": "Send to Discord/Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
