temp-projects/weekly-summary-workflow/workflow/weekly-github-summary.json
{
  "name": "Weekly GitHub Summary with Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Trigger (Friday 5pm)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/commits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-commits",
      "name": "Get Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "since",
              "value": "={{ $now.minus({days: 7}).toISO() }}"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-issues",
      "name": "Get Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.GITHUB_API_URL || 'https://api.github.com' }}/repos/{{ $env.GITHUB_REPO }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "github-prs",
      "name": "Get Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all GitHub data\nconst commits = $input.all();\nconst issues = $('Get Closed Issues').all();\nconst prs = $('Get Merged PRs').all();\n\n// Filter PRs merged in the last week\nconst weekAgo = new Date();\nweekAgo.setDate(weekAgo.getDate() - 7);\n\nconst mergedPRs = prs.filter(pr => {\n  if (!pr.json.merged_at) return false;\n  return new Date(pr.json.merged_at) >= weekAgo;\n});\n\n// Prepare summary data\nconst summaryData = {\n  repo: $env.GITHUB_REPO,\n  period: {\n    start: weekAgo.toISOString().split('T')[0],\n    end: new Date().toISOString().split('T')[0]\n  },\n  stats: {\n    commits: commits.length,\n    issues: issues.length,\n    pullRequests: mergedPRs.length\n  },\n  commits: commits.slice(0, 10).map(c => ({\n    message: c.json.commit.message.split('\\n')[0],\n    author: c.json.commit.author.name,\n    date: c.json.commit.author.date\n  })),\n  issues: issues.slice(0, 10).map(i => ({\n    title: i.json.title,\n    number: i.json.number,\n    labels: i.json.labels.map(l => l.name)\n  })),\n  pullRequests: mergedPRs.slice(0, 10).map(pr => ({\n    title: pr.json.title,\n    number: pr.json.number,\n    author: pr.json.user.login,\n    mergedAt: pr.json.merged_at\n  }))\n};\n\nreturn [{ json: summaryData }];"
      },
      "id": "combine-data",
      "name": "Combine & Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $env.LANGUAGE === 'FR' ? 'Génère un résumé narratif en français' : 'Generate a narrative summary in English' }} of this week's GitHub activity for {{ $json.repo }}:\\n\\nPeriod: {{ $json.period.start }} to {{ $json.period.end }}\\n\\nStatistics:\\n- {{ $json.stats.commits }} commits\\n- {{ $json.stats.issues }} issues closed\\n- {{ $json.stats.pullRequests }} pull requests merged\\n\\nRecent Commits:\\n{{ $json.commits.map(c => `- ${c.message} (${c.author})`).join('\\n') }}\\n\\nClosed Issues:\\n{{ $json.issues.map(i => `- #${i.number}: ${i.title}`).join('\\n') }}\\n\\nMerged Pull Requests:\\n{{ $json.pullRequests.map(pr => `- #${pr.number}: ${pr.title} by ${pr.author}`).join('\\n') }}\\n\\n{{ $env.LANGUAGE === 'FR' ? 'Format: Titre engageant, résumé en 2-3 paragraphes, points clés.' : 'Format: Engaging title, 2-3 paragraph summary, key highlights.' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-api",
      "name": "Generate Summary with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "claude-api-key",
          "name": "Claude API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"content\": {{ $json.content[0].text }} }",
        "options": {}
      },
      "id": "discord-webhook",
      "name": "Send to Discord/Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Weekly Trigger (Friday 5pm)": {
      "main": [
        [
          {
            "node": "Get Commits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Merged PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commits": {
      "main": [
        [
          {
            "node": "Combine & Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closed Issues": {
      "main": [
        [
          {
            "node": "Combine & Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Merged PRs": {
      "main": [
        [
          {
            "node": "Combine & Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Prepare Data": {
      "main": [
        [
          {
            "node": "Generate Summary with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary with Claude": {
      "main": [
        [
          {
            "node": "Send to Discord/Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-03-30T15:42:00.000Z",
      "updatedAt": "2026-03-30T15:42:00.000Z",
      "id": "1",
      "name": "GitHub"
    },
    {
      "createdAt": "2026-03-30T15:42:00.000Z",
      "updatedAt": "2026-03-30T15:42:00.000Z",
      "id": "2",
      "name": "Automation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-30T15:42:00.000Z",
  "versionId": "1"
}
